.content-testimonial-slider{

    &-container{
        & .slider-inner{
            background-color: $white;
            z-index: 9;
            position: relative;
            border-radius: 0.75rem;
            box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.05);
            padding: 4.5rem 2.5rem;

            @include breakpoint(large){
                padding: 4.5rem 7.5rem;
            }

        }

        & h2{
            font-size: 1.5rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid rgba(0, 43, 73, 0.25);
            margin-bottom: 3.45rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }
    } 

    &-slides{
        margin-top: 3rem;

        & p{
            font-size: 2.80625rem;

            font-size: clamp( 1.5rem, 5vw, 2.8rem);
            line-height: 3.41919rem;
            line-height: clamp( 2.6rem, 5vw, 3.4rem);
            font-style: normal;
            font-weight: 400;
            
            margin-bottom: 3.25rem;
        }

        & .testimonial-author{
            font-size: 1.3095rem;
            font-style: normal;
            font-weight: 900;
            line-height: 2.037rem;

            & + .testimonial-title{
                &:before{
                    content: ",";
                    margin-right: 0.2rem;
                    font-weight: 400;
                    font-size: 1.3095rem;
                }
            }
        }

        & .testimonial-title{
            font-size: 1.3095rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.037rem;
        }

    }


}

.slider-navigation-arrows{
    display: flex;
    justify-content: flex-end;
    gap: 1.4rem;

    @include breakpoint(large){
        transform: translateY(-100%);
    }

    

    & button{
        cursor: pointer;

        & svg *{
            transition: all 0.2s ease-in-out;
        }

        &:hover svg circle{
            stroke: $black;
        }
        &:hover svg path{
            fill: $black;
        }
    }

}
