.wc-card {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  flex: 0 0 calc(50% - 16px);
  //min-height: 340px;
  overflow: hidden;

  @include breakpoint(medium) {
    flex: 0 0 calc(25% - 16px);
  }


  &:hover {
    border: 1px solid $primary;
  }

  .wc-card-image {
    background-color: #fff;
    height: 200px;
    padding: 20px; 
    text-align: center;

    img {
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
      width:auto;
    }

  }

  .wc-card-content {
    padding: 20px 16px 50px;
    text-align: left;
    position: relative;
    height: 190px;

    .wc-card-sku {
      color: $primary;
      font-weight: 400;
      font-size: 15px;
    }

    .wc-card-title, .woocommerce-loop-category__title, .woocommerce-loop-product__title {
      color: $black !important;
      font-size: 16px;
      line-height: 1.3;
      //height: 42px;
      padding-right: 20px;

      a {
        color: $black !important;
      }
    }

    .woocommerce-loop-product__title {
      padding-right: 25px;
    }

    .wc-card-description {
      color: $black !important;
      font-size: 14.5px;
      line-height: 1.4;
    }

    .wc-card-button {
      position: absolute;
      bottom: 15px;
      left: 5%;
      width: 90%;
    }

    ul {
      list-style: none;
      margin: 0 0 20px;
      padding: 0;
      color: $black;

      li {
        line-height: 1.5;
        font-size: 14px;
      }

    }

  }

}

.wc-slider {

  /* the slides */
  .slick-slide {
    margin: 10px;
  }

  /* the parent */
  .slick-list {
    margin: -10px;
  }

}

.wc-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 0 20px;

  @include breakpoint(medium) {
    padding: 0 100px;
  }

  &.wc-grid-archive {
    justify-content: flex-start;
    padding: 0 0 100px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
    }

    .wc-card.wc-card-categories, .wc-card-category {

      .wc-card-image {
        background-color: #fff;
      }

      .wc-card-content {
        height: 120px;
      }
  
    }

    .wc-card-product {

      .wc-card-image {
        background-color: #fff;
      }

      .wc-card-content {
        height: 260px;
      }

    }

  }

}


.woocommerce-products-header {
  background: $primary;
  //margin-bottom: 70px;
  min-height: 100px;
  position: relative;
  width: 100%;

  @include breakpoint(medium) {
    
    &.woocommerce-products-header-image {
      height: 350px;
      padding: 0;
  
      .taxonomy-content {
        height: 350px;
      }
  
    }

  }

  

  .taxonomy-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 30px 0;

    .taxonomy-title {
      color: #fff;
      font-size: 24px;
      font-weight: 800;

      @include breakpoint(medium) {
        font-size: 36px;
      }

    }
  
    .taxonomy-description {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }

    .download-links {
      margin-top: 20px;
      padding: 30px 60px 0 0;
      position: relative;

      &:before {
        border-top: 1px solid rgba(#fff,.5);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 40px;
      }


      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          
          a {
            color: #fff;
            font-weight: 700;

            i {
              margin-right: 10px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
          
        }

      }

    }

  }

  .taxonomy-image {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    width: 600px;

    @include breakpoint(medium) {
      display: block;
    }

  }

}


.woocommerce-pagination {
	border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 12px;
  display: flex;

  ul.page-numbers {
    text-align: center;
    margin: 0 0.25em;
    border: none !important;
    display: block;
    padding: 0 0.5rem;
    list-style: none;

    li {
    	border-right: none;
    }

    .page-numbers {
	    text-align: center;
	    margin: 0 0.25em;
	    border-bottom: 2px solid transparent;
	    border-right: none;
	    display: block;
	    color: $primary;
	    padding: 0 0.5rem;

	    list-style: none;

	    &:hover {
	      color: #202020;
	    }

	    &.current {
	    	background: transparent;
	      //border-color: $blue;
	      color: #202020;
	      font-weight: bold;
	    }

	    &.next,
	    &.prev {
	      color: $primary;
	    }

	  }

  }

}








/*
 *
 * FILTERS
 *
 */

.wc-archive-filters {
  border: 1px solid #f1f1f1;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: 10px;
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 12px 30px;

  @include breakpoint(medium) {
    float: left;
    width: 18%;
    margin-right: 2%;
    margin-bottom: 70px;
  }

  .WpfWoofiltersWidget {

    .wpfFilterWrapper {

      .wpfFilterTitle {
        border-bottom: 1px solid $primary;
        margin-bottom: 5px;
        padding-bottom: 5px;
  
        .wfpTitle {
          height: auto;
          font-size: 15px;
          font-weight: 800;
          margin-bottom: 0;
        }

        .fa-minus:before {
          content: "\f068";
          font-size: 13px;
        }
  
      }
  
      .wpfFilterContent {
        margin: 20px 0 10px;

        .irs-bar {
          background-color: #aeaeae !important;
          border-color: #878787 !important;
          background: linear-gradient(to bottom, #aeaeae 0%, #3f3f3f 100%) !important;
        }
  
        .wpfCheckboxHier {
  
          .wpfLiLabel {
            font-size: 14px;
  
            .wpfCheckbox label {
              width: 14px !important;
              height: 14px !important;
              line-height: 1.5 !important;
              border: .5px solid #f1f1f1;
            }

            .wpfCheckbox input[type="checkbox"]:checked + label::before {
              background: #d51f2a !important;
              content: "\f00c" !important;
              font-family: Font Awesome\ 7 Free;
              color: #fff !important;
              font-weight: 700 !important;
              font-size: 9px !important;
              line-height: 1.2;
            }
  
          }
  
        }
  
      }
  
    }

    .wpfFilterButton.wpfButton, .wpfClearButton.wpfButton {
      padding: 5px;
      align-items: center;
      min-height: 36px;
      border-radius: 4px;
      font-size: 17px;
      text-decoration: none !important;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.2s;
      white-space: normal;
      cursor: pointer;
      border: none;
      font-weight: bold;
      outline: none;
      margin: 1rem 0 0;
    }

  }

}





.widget{ 
	position: relative;
  z-index: 9;
}

 .prdctfltr_wc .prdctfltr_woocommerce_ordering {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.prdctfltr_wc_widget.prdctfltr_wc .prdctfltr_filter {
  margin-bottom: 20px;
  background: #fff;
  padding: 14px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.prdctfltr_wc_widget.prdctfltr_wc .prdctfltr_filter .prdctfltr_widget_title {
	//border-bottom: 1px solid $primary;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 3px;
	text-transform: uppercase;
	font-size: 15px;
}

.prdctfltr_wc.prdctfltr_checkbox .prdctfltr_filter label>span:before {
  margin-right: 7px !important;
}

.prdctfltr_filter label {
  display: block;
  font-size: 13px;
  line-height: 20px;
}

.prdctfltr_count, .prdctfltr_customize_count {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px !important;
  height: auto !important;
  line-height: 22px !important;
  font-size: 14px !important;
  padding: 0 2px;
  border: none !important;
  color: rgba(35, 31, 32, .8) !important;
  background-color: transparent;
  border-radius: 2px;
  min-width: 0;
  text-align: center;
  overflow: visible!important;

  position: relative;

  &:before {
  	content: "(";
  	position: absolute;
  	left: -2px;
  }

  &:after {
  	content: ")";
  	position: absolute;
  	right: -2px;
  }

}