.fc-section-akro-in-action, .archive-akro-in-action {

  /* the slides */
  .slick-slide {
    margin: 18px;
  }

  /* the parent */
  .slick-list {
    margin: -18px;
  }

  .card-cell {

    &.card-cell-akro-in-action {
      background-color: #fff;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      flex: 0 0 calc(25% - 16px);
      height: auto;
      overflow: hidden;
      position: relative;
  
      .card-cell-image {
        background-color: #fff;
        height: 240px;
        padding:0; 
  
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
  
      }
  
      .card-cell-content {
        padding: 16px 16px 35px;

        .wc-card-title {
          color: $black;
          font-size: 17px;
        }
  
      }

      .card-cell-link {
        color: $red;
        padding-right: 40px;
        position: absolute;
        bottom: 16px;
        font-weight: 500;
        font-size: 15px;
          
        &:after {
          color: $red;
          content: "\f178";
          font-family: $fontawesome;
          font-weight: 400;
          position: absolute;
          right: 15px;
          //top: -1px;
        }
      }

    }
  
  }

  .akro-in-action-slider-navigation {
    position: absolute;
    top: 44px;
    width: 100%;

    .slider-prev,
    .slider-next {
      background-color: $red;
      display: flex;
       align-items: center;
       justify-content: center;
      color: #fff;
      float: right;
      height: 40px;
      margin-left: 10px;
      width: 40px;
    }

  }

}