.animated-numbers{

    .animated-numbers-grid{

        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        max-width: $global-width;
        margin: auto;

        @media screen and (max-width: 768px){
                row-gap: 2rem;
        }

        & .number-container{
            aspect-ratio: 1;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
            max-width: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            




            & .number-ring{
                content: "";
                display: block;
                border: 4px solid $primary;
                border-radius: 50%;
                position: absolute;
                width: 100%;
                height: 100%;
                
            }

            & .number-label{
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.15;
                padding-bottom: 1rem;

                @media screen and (max-width: 992px){
                    font-size: 1rem;
                    padding-bottom: 0;
                }

                @media screen and (max-width: 768px){
                    font-size: 0.875rem;
                    padding-bottom: 0;
                }
            }
            

            & .countup-animated-number{
                font-size: 6.25rem;
                font-size: clamp( 2.5rem, 5vw, 6.25rem );
                font-style: normal;
                font-weight: 700;
                line-height: 1.1;
                text-transform: uppercase;
                padding-bottom: 0;

                & .append,
                & .prepend{
                    text-transform: none !important;
                }


                // @media screen and (max-width: 992px){
                //     font-size: 3.25rem;
                // }

                // @media screen and (max-width: 768px){
                //     font-size: 2.5rem;
                //     padding-bottom: 0;
                // }
                
            }

        }

        &.number-columns--2{

            justify-content: space-evenly;

            & .number-container{
                width: calc(50% - 4rem);
                max-width: 370px;

                @media screen and (max-width: 1024px){
                    width: calc(50% - 4rem);
                    max-width: 240px;
    
                    &:nth-child(3){
                        width: 100%;
                    }
                }
    
                @media screen and (max-width: 768px){
                        width: 100%;
                }
            }
            
        }

        &.number-columns--3{

            & .number-container{
                width: calc(33.33% - 4rem);

                @media screen and (max-width: 1024px){
                    width: calc(50% - 4rem);
                    max-width: 240px;
    
                    &:nth-child(3){
                        width: 100%;
                    }
                }
    
                @media screen and (max-width: 768px){
                        width: 100%;
                }
            }
            
        }

        &.number-columns--4{

            & .number-container{
                width: calc(25% - 4rem);

                & .countup-animated-number{
                    font-size: clamp(1.5rem, 5vw, 3rem);
                }

                & .number-label{
                    font-size: 0.875rem;
                    padding-bottom:0;
                }

                @media screen and (max-width: 1024px){
                    width: calc(50% - 4rem);
                    max-width: 240px;
    
                    &:nth-child(3){
                        width: 100%;
                    }
                }
    
                @media screen and (max-width: 768px){
                        width: 100%;
                }
            }
            
        }

        
    }

}