.fc-section-cards{

    & .cards{
        padding-right: 0.9rem;
        padding-left: 0.9rem;
    }

    & .content-cards{

        & img{
            aspect-ratio: 3/2;
            object-fit: cover;
            margin-bottom: 2rem;
            min-width: 100%;
        }

        & h3{
            padding-bottom: 0.75rem;
            &  a{
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.3;
                color: $black;
                
                // letter-spacing: 0.3rem;
                // text-transform: uppercase;
            }
        }

        & p{
            // font-size: 1.3125rem;
            // font-style: normal;
            // font-weight: 400;
            // line-height: 1.75rem; /* 133.333% */
            margin-bottom: 1.5rem;
        }

        & > a{
            color: $black;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.45;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }

    }

   

}