.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button,
.wpfFilterButton.wpfButton {
	background-color: $primary;
	border-radius: 2px;
  border: none;
	color: $white;
	font-family: $sans;
	font-size: 13px !important;
	font-weight: 600;
  letter-spacing: .75px;
	margin: 1rem 0 0 0;
  min-height: 24px;
	padding: 8px 16px 8px 16px;
	text-transform: uppercase;
  text-align: center;

  i {
    margin-left: 11px;
    //font-size: 10px;
  }

	&:hover, &.active {
		background-color: darken($primary,7%);
    color: #fff !important;
	}

  &.grey {
		background-color: #f3f3f3;
		color: $primary !important;

		&:hover, &.active {
      background-color: $primary;
			color: #fff !important;
		}

	}

  &.button-arrow {
    padding-right: 40px;
    position: relative;
    
    &:after {
      color: #fff;
      content: "\f178";
      font-family: $fontawesome;
      font-weight: 900;
      position: absolute;
      right: 15px;
      top: 7.5px;
    }

  }

}


.gform_wrapper.gravity-theme.uavionix_wrapper .gform_button {
  padding-right: 28px;
  margin-left: auto;
  position: relative;

  &:before {
    font-family: $fontawesome;
    content: "\f054";
    font-weight: 900;
    position: absolute;
     top: 5px;
     right: 14px;
    height: 30px;
    font-size: 16px;
    width: 8px;
  }

}

