.post-single {

  .post-content-wrapper {
    margin-bottom: 80px;

    .post-header {
      text-align: center;

      .post-type {
        color: $black;
        display: block;
        font-family: $sans;
        font-size: 15px;
        letter-spacing: 3px;
        margin: 70px 0 30px;
        text-transform: uppercase;
      }
      
      h1.post-title {
        margin: 0 auto 26px;
        padding: 0 5rem;
      }

      .post-subhead {

        p {
          font-size: 22px;
        }

      }

      .post-featured-image {
        margin: 40px auto 40px;
        text-align: center;

        img {
          width: 100%;
        }

      }

      .post-meta {
        border-top: 1px solid #6E6F72;
        
        margin-bottom: 40px;
        padding: 13px 0 0;
        text-align: left;
        text-transform: uppercase;

        time {
          font-family: $sans;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }

    }




  }

}


.single-case-study{


  .case-study{
    &--header{
      background-size: cover;
      height: 42rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-content{
        background: #fff;
        display: inline-block;
        padding: 2rem;
        border-radius: 1rem;
      }

    }

    &--headline{
      font-size: 4rem;
      font-weight: 700;
      color: $green;
      margin-bottom: 4rem;
    }

    &--location{
      font-size: 2rem;
    }

    &--gallery{
      padding-bottom: 4rem;

      & .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        &-item{
          max-width: 20%;
          flex: 1;
          margin-bottom: 2rem;

          img{
            width: 100%;
            height: auto;
            border-radius: 1rem;
          }
        }
      }
    }

    &--feature,
    &--overview{
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }


}



#archive-header{
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  background: $gray-bg;

  & .columns{
    margin-bottom: 0;
  }
}

