.main-footer {
  background: $footer-bg;
  color: $white;
  padding: 2rem 0 2rem;
  position: relative;
  text-align: center;

  @include breakpoint(medium) {
    padding: 4rem 0 4rem;
    text-align: left;
  }

  a {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
    
  }

  h4{
    font-size: 1.25rem;
    font-weight: 700;
  }

  h5{
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1875rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  

  .footer-logo{
    display: flex;
    flex-direction: column;
  }
  .footer-logo img {
    max-width: 200px;
  }

  .footer-site-description{
    color: $black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8;

    @include breakpoint(medium){
      font-size: 4rem;
      line-height: 1.88;
    }
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(medium) {}

    li {
      padding: 0;

      > a {
        color: $black;
        display: inline-block;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 700;
        padding: 0;
        vertical-align: top;
      }

      ul {
        list-style: none;
        margin: 0 0 30px;
        padding: 0;

        li {
          margin: 0;
          padding: 0;

          a {
            color: $black;
            display: inline-block;
            vertical-align: top;
            font-weight: 400;
    
            &:hover {
              color: $green;
            }
    
          }

        }

      }

    }

    & .menu .active > a{
      background: unset;
    }

  }

  .footer-contact {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: $black;

    @include breakpoint(medium) {
      justify-content: flex-start;
    }

    i.fa-xl{
      font-size: 1.5rem;
      margin-right: 0.6rem;
    }

    li {
      color: $black;
      font-size: 30px;
      
      a {
        color: $black;
      }
      
    }


  }

  .footer-copyright {
    display: flex;
    justify-content: space-between;
    color: $black;

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
      }

    }


  }

  .footer-bottom {
    display: block;
    align-items: center;
    border-top: 1px solid rgba(0, 43, 73, 0.40);  

    @include breakpoint(medium){
      margin-top: 3rem;
    }

  }

}


.site-footer-form {
  background-color: #eeeded;
  padding: 0 0 40px;
}