$header-background: $main-header-background;
$header-link-color: $main-header-link-color;
$header-link-font: $main-header-link-font;
$header-button-background-color: $main-header-button-background-color;
$header-button-link-color: $main-header-button-link-color;

$top-header-background: $top-header-background;
$top-header-color: $top-header-color;
$top-header-link-color: $top-header-link-color;

.main-header {
  background-color: $header-background;
  height: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 9;

  @include breakpoint(large) {
    height: 128px;
  }

  .row, .row > .columns {
    height: 100%;
  }

  /*
  .flex {
    align-items: center;
    justify-content: space-between;
    flex: 0 1 0;
    height: 100%;
  }

  .flex-cell {
    height: 100%;

    &.store-navigation-wrapper {
      display: flex;
      justify-content: flex-end;
    }

  }
  */
  
  .main-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;

    & a{
      display: flex;
      height: 100%;
      padding: 1rem 0;
    }

    img {
      //height: 19px;
      width: 100%;
      vertical-align: middle;
      max-height: 100%;

      @include breakpoint(medium) {
        //height: 34px;
      }

    }

  }

}

.no-js .main-header .primary-navigation {
  display: none;
}

@include breakpoint(large) {
  
  .main-header .primary-navigation-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    .primary-navigation {   
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      height: 100%;


      > li {
        height: 100%;
        display: flex;
        align-items: center;

        @include breakpoint(medium) {
          //display: inline-block;
        }

        > a {
          color: $main-header-link-color;
          font-size: 15px;
          font-weight: 700;
          padding: 0 0;
          position: relative;
          text-decoration: none;
          vertical-align: middle;

          @include breakpoint(medium) {
            
            font-size: 16px;
            
          }

          &:hover {
            background-color: transparent;
            color: $secondary;
          }

        }

        &.has-submenu {

          > a {
            color: $main-header-link-color;
            padding-right: 26px;
            position: relative;
            
            &:after {
              content:"\f078";
              font-family: $fontawesome;
              font-size: 14px;
              position: absolute;
              right: 2px;
              font-weight: 900;
              //top: 2px;
            }

          }

        }

        &.active {

          > a {
            background-color: transparent;
            color: $secondary;
          }

        }

        .is-dropdown-submenu { //ul.submenu.first-sub
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          display: none;
          //min-height: 270px;
          top: 100%;
          left: 50% !important;
          transform: translate(-50%);
          text-align: left;
          padding: 1rem 0.75rem;
          border: none;
          border-top: 3px solid $primary;
          margin-top: -3px;
  
          &.js-dropdown-active {
            display: block;
          }
  
          & > li {
            margin: 1px 0;
            position: static;
            border-bottom: 1px solid #e8e8e8;

            &:last-child {
              border-bottom: none;
            }
  
            & > a {
              color: $black;
              font-size: 15px;
              font-weight: 600;

              transition: all 0.3s;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
  
              padding: .65rem .125rem;
              line-height: 1.25;
            }
  
            &:hover > a,
            &:focus > a {
              color: rgba($black,.7);
  
              &::before {
                color: #04b2e1;
                opacity: 1;
              }
  
            }
  
            &.active {
              background-color: transparent;
  
              a {
                background-color: transparent;
              }
              
            }
  
          }
  
        }

        &:last-child a {
          background-color: $primary;
          border-radius: 2px;
          border: none;
          color: $white;
          font-family: $sans;
          font-size: 14px !important;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 8px 40px 8px 16px;
          text-transform: uppercase;
          position: relative;

          &:after {
            color: #fff;
            content: "\f178";
            font-family: $fontawesome;
            font-weight: 900;
            position: absolute;
            right: 15px;
          }

          a {
            color: #fff;
            font-size: 14px !important;
          }

        }

      }

    }

  }

  .main-header .store-navigation-wrapper {
    height: 100%;
  
    .store-navigation {   
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;


      > li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0;
        text-align: center;
        width: 62px;

        a {
          color: $header-link-color;
          font-size: 20px;
          font-weight: 400;
          padding: 0 !important;
          text-decoration: none;

          &:hover {
            background-color: transparent;
            color: $secondary;
          }

          i {
            margin-right: 0;
          }

        }

        &.store-navigation-account {
          background-color: #555555;
        }

        &.active {

          a {
            background-color: transparent;
            color: $secondary;
          }

        }

      }

    }
  
  }

}

.top-header {
  background-color: $top-header-background;
  color: $top-header-color;

  .top-header-flex {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .top-header-search {
    background-color: #f4f4f4;
    display: flex;
    margin: 6px 0;
    padding: 0 5px;
  
    @include breakpoint(medium) {
      //float: right;
    }
  
    form, label {
      display: flex;
      align-items: center;
      

      i {
        color: #fff;
        margin: 0;
      }

    }
  
    input {
      border: none;
      margin-bottom: 0;
      max-height: 2rem;
    }

    button {
      height: 100%;
      margin: 0;
    }
  
  }
  

  .top-header-navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    li {
      display: inline-block;

      a {
        color: $top-header-link-color;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        line-height: 40px;
      }

      &.top-menu-fa-email,
      &.top-menu-fa-phone {
        position: relative;
        padding-left: 16px;
        

        &:before {
          font-family: $fontawesome;
          font-size: 12px;
          position: absolute;
          font-weight: 900;
          left: 0;
          top: 50%;
          margin-top: -8px;
        }
      }

      &.top-menu-fa-email::before {
        content: "\f0e0";
      }

      &.top-menu-fa-phone::before {
        content: "\f095";
      }

    }
    
  }

}





.position-left {
  width: 330px;
  transform: translateX(-330px);
}

.off-canvas {
  background-color: $black;
  padding: 60px 30px;

  .close-button {
    position: absolute;
    left: 1rem;
    right: auto;
    color: #fff;
  }

  > ul.mobile-navigation {

    > li {
      border-bottom: 1px solid #d9d9d9;

      > a {
        color: #fff;
        font-weight: 600;
        padding: 12px 0;
      }

      &.active {
        
        > a {
          background-color: transparent;
          color: $primary;
        }

      }

      &.is-accordion-submenu-parent>a:after {
        color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        border: none;
        font-family: $fontawesome;
        content: "\2b";
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 1rem;
      }

      &.is-accordion-submenu-parent[aria-expanded=true]>a:after {
        color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        border: none;
        font-family: $fontawesome;
        font-weight: 900;
        content: "\f068";
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 1rem;
        
        transform: unset;

      }

      &.is-accordion-submenu-parent.active>a:after {
        
      }

      > ul {
        padding: 0 0 20px;

        > li {

          > a {
            color: #fff;
            font-size: 14px;
          }

          &.active {
        
            > a {
              background-color: transparent;
              color: $primary;
            }
    
          }

          &.is-accordion-submenu-parent>a:after {
            color: #fff;
            display: block;
            width: 15px;
            height: 15px;
            border: none;
            font-family: $fontawesome;
            font-weight: 900;
            font-size: 11px;
            content: "\2b";
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 1rem;
          }
    
          &.is-accordion-submenu-parent[aria-expanded=true]>a:after {
            color: #fff;
            display: block;
            width: 15px;
            height: 15px;
            border: none;
            font-family: $fontawesome;
            font-weight: 900;
            content: "\f068";
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 1rem;
            
            transform: unset;
    
          }

          ul {
            margin: 20px;
            border-left: 1px solid $primary;

            li {

              > a {
                color: #fff;
                font-size: 13px;
              }

              &.active {
        
                > a {
                  background-color: transparent;
                  color: $white;
                  text-decoration: underline;
                }
        
              }

              

            }

          }


        }

      }

    }

  }

  ul.mobile-sub-navigation {
   margin-top: 20px;

    li {

      a {
      	background-color: transparent;
        border: 2px solid $primary;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-family: $sans;
        font-size: 13px !important;
        font-weight: 500;
        margin: 10px auto 10px;
        padding: 7px 18px 7px 18px;
        text-align: center;
      }

      &:first-child a {
        background-color: $primary;
        color: #fff;
      }

      &.active {
        
        > a {
          background-color: transparent;
          //text-decoration: underline;

          &:first-child {
            background-color: $primary;
            color: #fff;
          }

        }

      }

    }

  }

  .off-canvas-search {
    //display: flex;
    margin-top: 60px;
    padding: 4px 0;

    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2px;

      label {
        display: flex;
        align-items: center;
        flex-grow: 1;
  
        i {
          color: $primary;
          height: 32px;
          margin: 0 10px;
          font-size: 13px;
        }
  
        input {
          background-color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          height: 32px;
          margin-bottom: 0;
          position: relative;

          @include breakpoint(medium) {
            font-size: 13px;
            height: 28px;
          }

          &::placeholder {
            color: #ccc;
          }

          &:focus {
            //background-color: $lite-blue;
            background-color: #fff;

            &::placeholder {
              color: #ccc;
            }

          }

        }
  
      }

      .button {
        background-color: $primary;
        background-color: $primary;
        border: none;
        padding: 0;
        line-height: 32px;
        color: #fff;
        

        i {
          margin: 0 9px;
        }
      }

    }

  }

}