// Used to align content in center
.center {
  text-align: center;
}

// Remove focus outline
:focus {
  outline: none;
}

// anchor transitions
a, button, .button, [type=submit] {
  color: $green;
  //text-decoration: underline;
  transition: all 0.25s ease;
}




.pagination {
	border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 12px;
  display: flex;

  ul.page-numbers {
    text-align: center;
    margin: 0 0.25em;
    border: none !important;
    display: flex;
    color: $green;
    padding: 0 0.5rem;

    list-style: none;

    li {
    	border-right: none;
    }

    .page-numbers {
	    text-align: center;
	    margin: 0 0.25em;
	    border-bottom: 2px solid transparent;
	    border-right: none;
	    display: block;
	    color: $green;
	    padding: 0 0.5rem;

	    list-style: none;

	    &:hover {
	      color: #202020;
	    }

	    &.current {
	    	background: transparent;
	      border-color: $green;
	      color: #202020;
	      font-weight: bold;
	    }

	    &.next,
	    &.prev {
	      color: $green;
	    }

	   }
  }
}