.page-header.page-header-image {
  display: flex;
  height: 400px;
  position: relative;

  .page-header-image {
    height: 100%;
    object-fit: cover;
    position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .page-header-content-wrapper {
    align-self: flex-end;
    width: 100%;

    .page-header-content {
      background-color: rgba($primary,.7);
      padding: 18px 30px 18px;

      @include breakpoint(medium) {
        padding: 30px 30px 35px;
      }

      .g-section-subtitle {
        color: #fff;
        margin-bottom: 10px;
      }

      .g-section-title {
        color: #fff;
        margin: 0 0 0px;
      }

    }

  }


}

.page-header.page-header-no-image {
  display: flex;
  //height: 100px;
  position: relative;

  .page-header-content-wrapper {
    background-color: $primary;
    align-self: flex-end;
    width: 100%;

    .page-header-content {
      padding: 40px 0;

      .g-section-subtitle {
        color: #fff;
        margin-bottom: 10px;
      }

      .g-section-title {
        color: #fff;
        margin: 0 0 0px;
      }

    }

  }


}