/* TTEEMMPMP */

.Xwoocommerce-breadcrumb {
  display: none;
}

.Xproduct_title.entry-title {
  font-family: $sans;
  font-size: 50px;
  font-weight: 700;
  margin-top: 75px !important;
  margin-bottom: 30px;
}

.Xwoocommerce-Price-amount.amount {
  color: $red;
  font-size: 35px;
  margin-bottom: 40px;
}

.Xrelated.products {
  display: none;
}

.Xwoocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt {
  background-color: $black !important;
  color: #fff !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}