.woocommerce.single-product {

  .product.type-product {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 20px;
    position: relative;
    z-index: 2;

    .images {
      //margin-top: 25px;

      .woocommerce-product-gallery__wrapper {
        //border: 1px solid #dcdcdc;
        padding: 0;
      }  
      
      @include breakpoint(medium) {
        width: 97%;
      }

      .flex-viewport {
        border: 1px solid #efefef;
        border-radius: 7px;
        margin-top: 15px;
      }

      .flex-control-thumbs li {
        width: 13% !important;
        margin-right: 2% !important;
        border: 1px solid #efefef !important;
        border-radius: 2px;
        margin-top: 2% !important;

        &:nth-child(4n+1) {
          clear: none;
        }

        &:nth-child(5n+5) {
          margin-right: 0;
        }

        .flex-active {
          //border: 1px solid rgba($dark,.5) !important;
        }

      }

    } 

    .summary {
      padding-left: 40px;
      width: 100% !important;

      .wc-product-term {
        color: #595959;
        display: block;
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 6px;
        text-transform: uppercase;
      }
    
      .product_title {
        color: $black;
        font-size: 1.33rem;
        font-weight: 800;
        margin-bottom: 16px;
        max-width: 400px;

        @include breakpoint(medium) {
          display: block;
          font-size: 2.75rem;
        }     

        span {
          color: rgba($black,.7);
          display: block;
          font-size: 18px;
          margin-bottom: 6px;
          text-transform: uppercase;
        } 

      }

      .wc-product-sku {
        color: $red;
        display: block;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 16px;
      }

      .price {
        display: none;
      } 

      .woocommerce-product-details__short-description {
        max-width: 550px;

        p, li {
          font-size: 15px;
        }

      }

      .wc-product-details {
        
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          p, li {
            font-size: 15px;
          }

        }

      }

      

    }

    form.cart {
      margin-bottom: 10px !important;
    }

    .single_variation_wrap, .single_add_to_cart_button, .quantity {
      display: none !important;
    }

    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
      box-shadow: none !important;
    }



    .product-additional-description,
    .ModelSection.ModelOptions {

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .AppliedCategory {
          list-style: none;
          display: flex;
          padding: 7px 3px;

          &:nth-child(even) {
            background-color: #f5f5f5; /* Light grey for even items */
          }
          
          &:nth-child(odd) {
            background-color: #ffffff; /* White for odd items */
          }

          .CategoryName {

          }

          .SubCategories {

            ul {
              list-style: none;
              display: flex;
            }

          }

        }


      }


    }







  }


  .xproduct.type-product {
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(42, 54, 77, 0.18);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 20px;
    position: relative;
    z-index: 2;

    .onsale {
      display: none;
    }

    

    .single_variation_wrap, .single_add_to_cart_button, .quantity  {
      display: none;
    }

    

    .in-stock-badge:not(.product-cell .in-stock-badge) {
      background-color: $red;
      border-radius: 0 3px 3px 0;
      color: #fff;
      padding: 3px 8px 3px 15px;
      position: absolute;
      top: 20px;
      left: -10px;
      width: auto;
      z-index: 9;

      &:before {
        content:'';
        border-top: 10px solid darken($red,20%);
        position: absolute;
        bottom: -10px;
        border-left: 10px solid transparent;
        left: 0;
      }


      span {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }



    }

    .mobile-product-title {

      h1 {
        color: $black;
        font-size: 1.33rem;
        margin: -1rem 0 1rem;

        span {
          color: rgba($black,.4);
          display: block;
          font-size: 14px;
          text-transform: uppercase;
        }

      }


      .price {
        display: inline-block !important;
        color: $red;
        font-size: 1rem;
        line-height: 1.4;
        margin-right: .25rem;
        font-weight: 600;

        .amount {
          color: $red;
          font-size: 1.25rem;
          line-height: 1.4;
          font-weight: 600;
        }

      } 

      .unit-description {
        display: inline-block;
        color: $red;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 600;
      }

    }

    .label:not(.yith-wapo-option .label) {
      position: absolute;
      top: 8px;
      right: 6px;

      @include breakpoint(medium) {
        position: absolute;
        float: right;
      } 
    }




    form.cart div.quantity {
      float: none;
      margin: 30px 4px 30px 0;
      display: block;
      position: relative;

      &:before {
        content: "QUANTITY:";
        color: $black;
        font-size: 13px;
        font-weight: 700;
        position: absolute;
        top: -28px;
        left: 0;

      }
    
      input {
        background-color: $grey-bg;
        border: 1px solid rgba($grey,.5);
        border-radius: 2px;
        color: rgba($black,.7);
        padding: 10px 0;
        width: 60px
        //text-align: center;
        //width: 100%;
      }

    }

    .express-info {
      margin-bottom: 20px;

      ul {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-left: 0!important;
        padding-left: 0!important;
        list-style: none;

        li {
          color: $red;
          font-size: 13px;
          font-weight: 600;
          padding-left: 0!important;

          &:before {
            display: none !important;
          }

        }

      }

    }

  }

  .awdr-bulk-customizable-table {
    max-width: 400px;
    font-size: 14px;
    margin: 0 0 50px 0;


  }

  .product-attributes {
    margin: 20px 0;

    > strong {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      height: 250px;
      margin: 0;
      padding: 0;
      overflow: hidden;

      &.show-specs {
        height: auto;
      }

      &.hide-specs {
        height: 250px;
      }

      li {
        display: block;
        font-size: 15px;
        line-height: 25px;
      }

    }

    .show-more {
      margin-top: 8px;

      a {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
      }

    }


}








.variations_form {
  //background: rgba($red,.07);
  //border: 1px solid rgba($red,.2);
  margin-bottom: 1rem;
  padding: .5rem 0 0;

  /*

  h4 {
    margin-bottom: 0;

    label {
      color: darken($dark,7%) !important;
      font-size: 1rem !important;
      font-weight: 700 !important;
      
    }

  }

  */

  table {margin-bottom: 0 !important;}

  table tbody, table tfoot, table thead {
    background: transparent;
  }

  table tbody tr:nth-child(2n) {
    border-bottom: 0;
    background-color: transparent;
  }

  .label {
    //float: left;
    background-color: transparent;
    font-size: .875rem;
    font-weight: 600 !important;
    line-height: 1.4;
    //color: $black;
    margin: 0;
    
    label {
      line-height: 2.85rem;
      //width: 25px;
    }

    @include breakpoint(900) {
      width: 25px;
    }  

  }

  .Xvariations td {
    line-height: 1.4 !important;

    div {
      margin-bottom: 10px;

      &:after, &:before {
        clear: both;
        content: "";
        display: table;
      }
      
    }

  }

}

.single_variation_wrap {

  .quantity {
    height: 2.25rem;
    position: relative;
    margin-left: 45px !important;

    &:before {
      content: "Qty";
      color: #2b2b2b;
      font-size: 14px;
      font-weight: 700;
      height: 2.25rem;
      line-height: 2.25rem;
      position: absolute;
       left: -45px;
       //top: 5px;
      width: 45px;
    }
  }

  .input-text.qty.text {
    height: 2.25rem;
  }



  span.woocommerce-variation-selected {
    font-size: .875rem;
    font-weight: 600 !important;
    line-height: 1;
    color: $black;
    display: block;
  }

  .woocommerce-variation-price{
    color: $dark;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 7px 0 14px;
  }

  .woocommerce-variation-sku {
    font-size: .925rem;
    font-weight: 400 !important;
    display: inline-block;
  }

  .woocommerce-variation-description {
    display: inline-block;

    p {
      color: #444;
      font-size: 1rem;
      font-weight: 600 !important;
      margin-bottom: 0 !important;
    }

  }

  .woocommerce-variation-custom-availability, .woocommerce-variation-custom-availability p {
    color: $dark;
    font-size: 1rem;
    font-weight: 700 !important;
    margin-bottom: 5px;
  }

}

.product_meta {
  display: none;
  margin-top: 2rem;
}

}

.product-additional-content  {
margin-top: 40px;

.product-additional {
  //background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 0 16px 30px;

  h2 {
    background-color: $red;
    color: #fff;
    font-size: .975rem;
    font-weight: 600;
    //border-top: 1px solid $gray;
    margin: 0 -16px 20px;
    padding: 8px 16px;
  }

  &.product-additional-downloads {

    ul {
      list-style:none;
      margin: 0;
      padding: 0;

      li {
        line-height: 40px;

        a {
          font-weight: 600;
        }

        i {
          color: $red;
        }

      }

    }

  }

}

}

.products.related  {
margin-top: 10px;

> h2 {
  background-color: $red;
  color: #fff;
  font-size: .975rem;
  font-weight: 600;
  //border-top: 1px solid $gray;
  //margin: 0 -16px 20px;
  padding: 8px 16px;
  margin-bottom: 14px;
}

}


.woocommerce.single-product {

#yith-wapo-container.yith-wapo-container {

  .yith-wapo-block {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;    
  }

  .yith-wapo-addon {
    margin-bottom: 18px;

    .wapo-addon-title {
      margin-bottom: 6px;

      span {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        
        text-transform: uppercase;
      }

    }

    .wapo-addon-description {
      color: rgba($black, .6);
      font-size: 14px;
      margin: 0 0 6px;
    }

    &.yith-wapo-addon-type-product {



      .options-container {

        .options {

          .product-container {
            padding: 7px;

            .product-image {

              img {
                max-width: 50px;
              }

            }

            small {
              display: none;
            }

            small.option-price {
              margin: 3px 0px 0px 0px;
              font-size: 14px;
              font-weight: 600;
              display: block;
            }

          }

        }

      }

    }

    &#yith-wapo-addon-4.yith-wapo-addon-type-product {

      .product-image {
        display: none;

        img {
          max-width: 50px;
        }

      }

    }

    &.yith-wapo-addon-type-text {
      margin: 5px 0;

      .input-text-container {
        margin-top: 0 !important;
      }

      input {
        font-size: 13px;
        height: 34px;
        margin: 0 0 0 !important;
        padding: 11px 8px 13px 13px;
        border-radius: 5px;
        border: solid 1px $gray;
        background-color: #f9fafb;
      }

    }

    &.yith-wapo-addon-type-radio {
      margin: 5px 0;

      .options.per-row-2 {
        display: flex !important;
      }

    }

  }

  #wapo-total-price-table {
    margin: 14px 0 50px;
  }

  #wapo-total-price-table table {
    font-size: 16px;
    line-height: 20px;
  }

  #wapo-total-price-table table tbody th {
    padding-left: 0 !important;
    font-size: 16px;
    text-transform: uppercase;
  }

  #wapo-total-price-table table tbody td, #wapo-total-price-table table tbody th {
    padding: 0.125rem 0.35rem 0.125rem;
  }

  #wapo-total-price-table table tbody tr:nth-child(2n) {
    border-bottom: 0;
    background-color: #fff !important;
  }
      

}

}


.request-quote-form {
padding: 1rem;

.request-quote-title {
  color: $red;
  font-size: 1.33rem;
} 

.gform_wrapper ul li.gfield label {
  font-size: 14.5px;
  font-weight: 600;
}

.gform_wrapper ul li.gfield .ginput_container {
  margin-top: 3px !important;
}

#field_1_9 {
  margin: 1rem 0;
  color: $dark-grey;
}

}



